<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SQLite" connectionString="Data Source=App_Data/modulize.db;Version=3;" />
    <add name="MySql" connectionString="Server=localhost;Database=Modulize;Uid=root;Pwd=root;" />
    <add name="SqlServer" connectionString="Server=localhost;Database=Modulize;User Id=sa;Password=sa;" />
    <add name="PostgreSql" connectionString="Server=localhost;Database=modulize;User Id=postgres;Password=root;" />
    <add name="Firebird" connectionString="DataSource=localhost;Database=modulize;User=SYSDBA;Password=root;" />
  </connectionStrings>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data></configuration>