<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLite" connectionString="Data Source=App_Data/modulize.db;Version=3;"/>
    <add name="MySql" connectionString="Server=localhost;Database=Modulize;Uid=root;Pwd=root;"/>
  </connectionStrings>
</configuration>